* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
#heading {
    text-align: center;
    margin-top: 2vh;
    font-weight: normal;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: gray;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background: black;
    transition: .2s;
}

.button:active {
    background: lightgrey;
}

.button p {
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: normal;
}

tspan {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

#tooltip {
    position: absolute;
    opacity: 0;
    top: 500px;
    left: 500px;
    background: gray;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px;
    transition: .1s;
}

#tooltip p {
    color: white;
    font-size: .7em;
}